html {
    font-family: 'Thasadith', sans-serif;
}


/***********ENTETE************/

header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px;
}

header img {
    width: 100%;
    max-width: 60px;
}


/****************CORPS*******************/

main {
    position: relative;
    width: calc(100% - 120px);
    left: 120px;
}

#images {
    max-width: 100%;
    margin: 40px 20px 0 0;
}

#calli {
    width: 40%;
    float: left;
    margin: 40px 20px 20px 0;
}

#bazar {
    width: calc(100% - 20px);
}

p {
    text-align: justify;
}